<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD29VBPEKA8aGqObEnyalP1kmXYb3Ou88A</string>
	<key>GCM_SENDER_ID</key>
	<string>505112648654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypApp</string>
	<key>PROJECT_ID</key>
	<string>fyp2024-59377</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp2024-59377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505112648654:ios:749c00d6f90878702d699f</string>
</dict>
</plist>